.icon-hamburger {
  display: block;
  height: 25px;
  width: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-hamburger.svg");
}
.icons-printer {
  display: block;
  height: 28px;
  width: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-printer.svg");
}
.icons-box {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-box.svg");
}
.icons-screen {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-screen.svg");
}
.icons-setting {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-setting.svg");
}
.icons-logo {
  display: block;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icons/icon-logo.svg");
}