@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import "../common/variables";
@import "../common/mixins";

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-title {
  @include title;

  small {
    margin-right: 23px;
  }

  .el-icon-s-operation {
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    .icon-hamburger {
      display: none;
    }
    .el-icon-s-operation {
      display: block;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

.layout-wrapper {
  display: grid;
  grid-template-columns: 394px 1fr;
  min-height: 100vh;

  .sidebar {
    display: flex;

    &__menu {
      width: 85px;
      padding: 15px 0 0;
      background: #EDEDED;

      .icons-logo {
        margin: auto;
        cursor: pointer;
      }
    }

    .el-menu {
      background: #EDEDED;
      margin-top: 15px;

      &--collapse {
        width: 85px;
      }

      &-item {
        display: flex;
        align-items: center;

        i {
          margin: auto;
        }
      }

      &-item:first-child {
        background: #F6F6F6;
      }
    }

    &.mobile-menu {
      transition: all ease 4ms;
      transform: translateX(-550px);
      transition: transform 250ms ease-in-out;
      opacity: 0;
      position: fixed;
      width: 70%;

      .sidebar__menu {
        width: 100%;
        padding: 20px 29px;
        display: flex;
        align-items: center;

        .el-menu {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
        }
      }

      .close-mobile-menu {
        display: block;
      }
    }

    &.is-mobile {
      opacity: 1;
      z-index: 2;
      display: block;
      transition: all ease 4ms;
      transform: translateX(0px);
      transition: transform 250ms ease-in-out;
    }
  }

  .sub-item-menu {
    padding: 0 29px;
    width: 100%;
    background: #F6F6F6;
    border: 1px solid #CCCCCC;
    position: sticky;
    top: 0;
    height: 100vh;

    &--title {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: $default-black;
      margin: 27px 0 26px;
      display: block;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 27px;
        cursor: pointer;

        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: $default-black;

          &.active {
            color: $default-blue;
          }
        }

        small {
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: $light-gray;
        }
      }
    }
  }

  &.mobile-wrapper {
    grid-template-columns: 1fr;

    .order-item-box {
      padding: 20px 16px;

      .item-list {
        ul {
          flex-direction: column;
        }
      }

      &__ordered-items {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;

        .ordered-item-title {
          width: fit-content;
          margin-bottom: 10px;
        }

        ul {
          display: block;

          li {
            display: inline-block;
            width: fit-content;
            gap: 20px;
            margin: 0 10px 10px 0;

            span {
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }

      &__footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-top: 13px;

        .information {
          small, span {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.orders-wrapper {
  padding: 46px 39px;

  &__header {
    display: flex;
    margin-top: 47px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #E5E5E5;

    .orders-count {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: $default-black;
      background: #EBEBEB;
      border: 1px solid #EBEBEB;
      border-radius: 5px 0px 0px 5px;
      padding: 13px 20px;

      .icon-hamburger {
        height: 18px;
        width: 19px;
        margin-right: 14px;
      }
    }
  }

  &__content {
    display: block;
    margin-top: 30px;
  }

  .empty-message {
    margin-top: 20px;
  }

  @media screen and (max-width: 1000px) {
    padding: 20px 16px;
  }
}

.create-order-wrapper {
  padding: 46px 39px;

  &--left {
    width: 50%;
    position: relative;
    padding-right: 35px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 20px;
      width: 1px;
      background: #EBEBEB;
      height: 90%;
    }
  }

  &--right {
    width: 50%;
    padding-left: 45px;

    .delivery-details {
      background: #F6F6F6;
      border-radius: 5px;
      padding: 26px;

      &--title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $default-black;
        margin-bottom: 25px;
        display: block;
      }

      table {
        border: none;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }

      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }

      table tr {
        background-color: #f8f8f8;
        border: none;
        padding: .35em;
      }

      table th {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: $dark-gray;
        text-align: left;
      }

      table td {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: $default-black;
        text-align: left;
        padding: 2px 0 7px;
      }

      table th {
        font-size: .85em;
        letter-spacing: .1em;
      }

      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }

        table caption {
          font-size: 1.3em;
        }

        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }

        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }

        table td::before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        table td:last-child {
          border-bottom: 0;
        }
      }
    }

    .total-amount {
      color: $default-black;
      margin-top: 29px;
      background: #F6F6F6;
      border-radius: 5px;
      padding: 26px 67px 26px 26px;
      display: flex;
      align-content: center;
      justify-content: space-between;

      &--title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }

      &--total-cost {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        opacity: 0.84;
      }
    }
  }

  &__buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 32px;

    button {
      width: 50%;
    }
  }

  &__form {
    margin-top: 28px;
    width: 100%;

    .trans-type {
      margin: 30px 0;
      display: block;

      label {
        font-size: 22px;
      }
    }
  }

  section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .create-order-information {
    margin-top: 30px;

    ul {
      li {
        margin-bottom: 19px;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: $default-black;
          width: 100%;
          max-width: 210px;
          display: inline-flex;
        }

        small {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: $dark-gray;
        }
      }
    }
  }

  .selected-items {
    &--title, &--price {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.05em;
      color: $default-black;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .el-input-number {
        margin: 0 30px 0 40px;
      }

      .el-icon-close {
        opacity: .6;
        cursor: pointer;
      }
    }

    ul {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 1250px) {
    padding: 20px 16px;
    &--left {
      width: 100%;

      &::after {
        display: block;
      }
    }
    &--right {
      width: 100%;
      padding: 0;
    }
    section {
      flex-direction: column;
    }
  }
}

.close-mobile-menu {
  display: none;
  position: absolute;
  right: -49px;
  top: 26px;
  z-index: 9;
  padding: 6px;

  i {
    font-size: 30px;
  }
}